name: CI

on: [push, pull_request]

jobs:
    build:
        # set up the virtual machine to run on
        runs-on: ubuntu-latest
        steps:
            # The virtual machine gets the entire repository from github
            - uses: actions/checkout@v4
            # The virtual machine installs node
            - uses: actions/setup-node@v4
              with:
                node-version: '20'
            # ----------backend-------------
            - run: cd backend && npm ci
            - run: cd backend && npx tsc --noEmit
            - run: cd backend && npm test

            #----------frontend-------------
            - run: cd frontend && npm ci
            - run: cd frontend && npx tsc --noEmit
            - run: cd frontend && npm test


